.BarraSuperior {
  background-color: #FF9A19;
  color: #fff;
}

h1 {
  margin: 0;
}

.viajes {  
  display: flex;
  justify-content: start;
}

.ContenedorTarjetas {
  background-color: rgb(245, 244, 243);
  color: grey;
}

.BarraInferior {
  background-color: #FF9A19;
  color: #fff;
}

.navbarIcons {
  margin: 0.5vh;
  padding: 4vh;
}

.fa-chevron-left {
  margin: 1vh;
}

p {
  margin: 0;
}

.Mes {
  display: flex;
  justify-content: start;
  color: grey;
  background-color: rgb(245, 244, 243);
}

.Fecha {
  display: flex;
  justify-content: start;
}